<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCmWgKZMttVgheHMvucyw-n2gw9QJwzFsY</string>
	<key>GCM_SENDER_ID</key>
	<string>720158094545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jatayu.jatayutechnologies</string>
	<key>PROJECT_ID</key>
	<string>jatayu-technologies</string>
	<key>STORAGE_BUCKET</key>
	<string>jatayu-technologies.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720158094545:ios:ad8daba30393d4af2c01f0</string>
</dict>
</plist>